{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}
    <!-- Main -->
    <main>
        <!-- Page Banner -->
        <div class="page-banner overlay">
            <picture class="media media-bg">
                <source media="(max-width: 575px)" srcset="{% static 'img/banner/about-slider.webp' %}">
                <source media="(max-width: 991px)" srcset="{% static 'img/banner/about-slider.webp' %}">
                <img alt="تصویر بنر صفحه" height="520" loading="eager" src="{% static 'img/banner/about-slider.webp' %}"
                     width="1920"/>
                </source>
                </source>
            </picture>
            <div class="page-banner-content">
                <div class="container text-center">
                    <h1 class="heading text-80 fw-700" data-aos="fade-up">
                        {% trans 'گالری تصاویر' %}
                    </h1>
                    <ul class="breadcrumb list-unstyled" data-aos="fade-up" data-aos-delay="100">
                        <li>
                            <a aria-label="Home Page" class="text text-18" href="{% url 'home:home' %}">
                                {% trans 'صفحه اصلی' %}
                            </a>
                        </li>
                        <li>
                            <svg fill="none" height="12" viewbox="0 0 8 12" class="customiconrtl" width="8"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M7.08929 5.40903C7.24552 5.5653 7.33328 5.77723 7.33328 5.9982C7.33328 6.21917 7.24552 6.43109 7.08929 6.58736L2.37512 11.3015C2.29825 11.3811 2.2063 11.4446 2.10463 11.4883C2.00296 11.532 1.89361 11.5549 1.78296 11.5559C1.67231 11.5569 1.56258 11.5358 1.46016 11.4939C1.35775 11.452 1.2647 11.3901 1.18646 11.3119C1.10822 11.2336 1.04634 11.1406 1.00444 11.0382C0.962537 10.9357 0.941453 10.826 0.942414 10.7154C0.943376 10.6047 0.966364 10.4954 1.01004 10.3937C1.05371 10.292 1.1172 10.2001 1.19679 10.1232L5.32179 5.9982L1.19679 1.8732C1.04499 1.71603 0.960996 1.50553 0.962894 1.28703C0.964793 1.06853 1.05243 0.859522 1.20694 0.705015C1.36145 0.550508 1.57046 0.462868 1.78896 0.460969C2.00745 0.45907 2.21795 0.543066 2.37512 0.694864L7.08929 5.40903Z"
                                      fill="currentColor" fill-rule="evenodd">
                                </path>
                            </svg>
                        </li>
                        <li>
                            <a aria-disabled="true" class="text text-18 active" role="link">
                                {% trans 'گالری تصاویر' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Projects -->
        <div class="page-projects mt-100" style="margin-bottom: 60px">
            <div class="container-fluid">
                <div class="row product-grid">
                    {% for album in albums %}
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" data-aos="fade-up" data-aos-delay="100">
                            <a aria-label="project details" class="card-project radius18"
                               href="{% url 'home:album-detail' album.id %}">
                                <img alt="تصویر پروژه" height="690" loading="lazy" src="{{ album.cover.url }}"
                                     width="645"/>
                                <div class="card-project-content-absolute">
                                    <div class="card-project-content">
                                        <h2 class="heading text-24">
                                            {{ album.title }}
                                        </h2>

                                    </div>
                                </div>
                                <span class="svg-wrapper icon-project-link">
         <svg fill="none" viewbox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
          <circle cx="32" cy="32" fill="white" r="32">
          </circle>
          <path d="M26.1667 39C25.8167 39 25.5833 38.8833 25.35 38.65C24.8833 38.1833 24.8833 37.4833 25.35 37.0167L37.0167 25.35C37.4833 24.8833 38.1833 24.8833 38.65 25.35C39.1167 25.8167 39.1167 26.5167 38.65 26.9833L26.9833 38.65C26.75 38.8833 26.5167 39 26.1667 39Z"
                fill="#20282D">
          </path>
          <path d="M37.8332 37.8333C37.1332 37.8333 36.6665 37.3667 36.6665 36.6667V27.3333H27.3332C26.6332 27.3333 26.1665 26.8667 26.1665 26.1667C26.1665 25.4667 26.6332 25 27.3332 25H37.8332C38.5332 25 38.9998 25.4667 38.9998 26.1667V36.6667C38.9998 37.3667 38.5332 37.8333 37.8332 37.8333Z"
                fill="#20282D">
          </path>
         </svg>
        </span>
                            </a>
                        </div>
                    {% endfor %}


                </div>

            </div>
        </div>
    </main>

{% endblock %}

