{% load static %}
{% load i18n %}
<footer>

    <!-- Footer Main -->
    <div class="footer-main bg-contain" style="background-image: url({% static '/img/footer/footer-bg-large.jpg' %})">
        <div class="footer-top">
            <div class="container">
                <div class="row footer-custom-row">
                    <div class="col-12 col-md-6">
                        <div class="footer-widget footer-widget-brand" data-aos="fade-up" data-aos-anchor=".footer-top">
                            <a aria-label="Consulo Logo" class="footer-logo" href="{% url 'home:home' %}">
                                <img alt="لوگوی قالب کنسولو" height="32" loading="lazy"
                                     src="{% static '/img/logon1.png' %}"
                                     width="189"/>
                            </a>
                            <p class="text text-16" style="white-space: pre-line">
                                {% trans 'آدرس' %} ؛ {% trans 'ایران تهران خیابان خاوران خیابان نباتی پلاک ۶۰' %}
                                {% trans 'شماره تماس' %} :۳۳۷۳۳۰۷۸ - ۳۳۷۳۳۰۷۷ - ۳۳۷۳۳۰۷۶
                            </p>

                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="footer-widget footer-widget-menu" data-aos="fade-up" data-aos-anchor=".footer-top">
                            <div class="widget-heading heading text-22">
                                {% trans 'لینک سریع' %}
                            </div>
                            <ul class="footer-menu list-unstyled">
                                <li>
                                    <a aria-label="About Us" class="text text-16 link" href="{% url 'home:about-us' %}">
                                        {% trans 'درباره ما' %}
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Our Team" class="text text-16 link"
                                       href="{% url 'stockholder:list' %}">
                                        {% trans 'هیئت مدیره' %}
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Blogs" class="text text-16 link"
                                       href="{% url 'article:article_list' %}">
                                        {% trans 'مقالات' %}
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Blogs" class="text text-16 link" href="{% url 'home:contact' %}">
                                        {% trans 'تماس با ما' %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row footer-bottom-row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="footer-copyright text text-16">
                            © <span class="current-year"></span>
                            {% trans 'کلیه حقوق محفوظ است.' %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <ul class="footer-menu footer-policies list-unstyled">

                            <li>
                                <a aria-label="FAQ" class="text text-16 link" href="{% url 'home:about-us' %}">
                                    {% trans 'درباره ما' %}
                                </a>
                            </li>
                            <li>
                                <a aria-label="FAQ" class="text text-16 link" href="{% url 'home:contact' %}">
                                    {% trans 'تماس با ما' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>